.pro-menu{
    height: 100%;
    /* width:40px; */
    width: 3%;
}
.regular-problem{
    display: flex;
    align-items: flex-end;
    height: 100%;
    min-width:  180px;
    --bs-list-group-border-width: unset;
    border-radius:unset;
    border-left: 1px solid #dee2e6;
}
.folder-menu{
    display: flex;
    height: 100%;
    width: auto;
    min-width: 170px;
    margin-right: 20px;
    /* overflow-y: auto ; */
}

.folder-editor{
    /* width: 85%; */
    width: 100%;
    overflow-y: auto;
   
}
.project-editor{
    
    overflow-x: auto;
}

.editor-menu{
    width: 85%;
    /* border: 1px solid #121212; */
}
.draggable-menu {
    width: 85%;;
}
.main-editor{
    display: flex;

}

.list-group-item.active {
    background-color: #4070AA;
}
/* .header-wrapper .logo-strong{
    font-size: larger;
    color: #D6E342;
} */

 /* 自定义动画效果 */
 @keyframes progressAnimation {
    0% { width: 0%; }
    100% { width: 70%; } /* 这里设置进度条的最终宽度 */
}

/* 进度条样式 */
.progress-bar {
    background-color: #198038;
    
    animation: progressAnimation 2s linear forwards; /* 持续时间为 2 秒，线性动画 */
}
