.menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; 
}

.menu {
    padding-left: 10px;
    margin-top: 0; 
}

.menu {
    margin-top: 0; 
    cursor: pointer;
}
.header{
    /* display: flex; */
    border-bottom: 1px solid #dbeaf4;
    justify-content: space-between;
}
.headmenu-flex{
    display: flex;
    margin-top: 14px;
}
/* .right .self-d{
    display: flex;
    
} */
@media (min-width: 991px) {
    .dropdown-menu[data-bs-popper] {
        
        left: -60px;
     
    }
    
}


#givenName{
    /* margin-top: 13px; */
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:#16507b;
}

.navbar-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(10, 38, 58, 0.9);
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
    color: #2487ce;
}
.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #124265;
}


.mobile-nav-toggle {
    color: #124265;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 2;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .self-d ul{
        display: none;
      }
      .navbar-mobile ul ul {
        display: none;
      }
}

.problem{
    padding-left:10px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
.mobile-nav-toggle.bi-x {
    color: #fff;
  
}
.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #124265;
}
.dropdown-menu.show {
    display: block;
    height: 170px;
}
.context-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  
    min-width: 90px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 77777;
    border-radius: 2px;
}
.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
font-style: normal;

}
.context-menu ul li:hover {
    background-color: #3688B1;
    color:#ffffff;
}

#folderStructure ul{
    min-width: 142px;
}
.highlighted {
   
    background-color: #3688B1;
  
    color:#ffffff;
    border-radius: 3px;
}
.highlightedbold {
    background-color: #dddfe2;
    color:#ffffff;
    font-weight: bolder;
}
.highlight {
    border-bottom: 1px solid #DCE2F0;
}
.can-delete {
    color:#710000;
}




.pro-menu{
    height: 100%;
    overflow-y: auto;
    min-width:60px;
    border-right: 1px solid #999999;
    scrollbar-width: thin; /* For Firefox */
    scr
}

/* For WebKit based browsers (Chrome, Safari) */
.pro-menu::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
}

.regular-problem{
    display: flex;
    align-items: flex-end;
    height: 100%;
    /* min-width:  400px; */
    --bs-list-group-border-width: unset;
    border-radius:unset;
    /* border-left: 1px solid #dee2e6; */
    --bs-list-group-action-hover-bg:unset;
}
@media (max-width: 991px){
    .main-view .divider  {
        display: none;
    }
    .regular-problem{
        border-bottom: 1px solid #dee2e6;
    }
    .flex-container {
        flex-direction: column;
      }
}

.ds-problem{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    min-width:  200px;
    border-left: 1px solid #dee2e6;
    border-radius: unset;
    --bs-list-group-action-hover-bg:unset;
    scrollbar-width: thin;
}

/* For WebKit based browsers (Chrome, Safari) */
.ds-problem::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
}

@media (max-width:783px) {
    .codeBtn button{
        font-size: 12px;
    }
    #hiddenButton1, #hiddenButton2, #hiddenButton3  {
        display: none;
    }
}

.pro-menu .list-group-item {
    text-align: center;
}
.flex-container{
    display: flex;
    overflow-x: auto;
    width: 100%;
    }

    /* For Webkit-based browsers */
    .flex-container::-webkit-scrollbar {
        width: 8px; /* Width of the vertical scrollbar */
        height: 8px; /* Height of the horizontal scrollbar */
    }

    .flex-container::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners */
    }

    .flex-container::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar handle */
        border-radius: 10px; /* Rounded corners */
    }

    .flex-container::-webkit-scrollbar-thumb:hover {
        background: #b0b0b0; /* Color when hovered */
    }

    /* For Firefox */
    .flex-container {
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-color: #c1c1c1 #f1f1f1; /* Handle color, track color */
    }   
.folder-menu{
    display: flex;
    height: 100%;
    width: auto;
    /* min-width: 153px; */
   
}

.folder-editor{
    /* width: 85%; */
    /* display: flex; */
    /* width: 100%; */
    height: 100%;
    overflow: auto;
   
}
.project-editor{
    z-index: 777;
    width: 100%;
    overflow: auto;
    /* margin-left: 10px; */
    scrollbar-width: thin;

}

/* For WebKit based browsers (Chrome, Safari) */
.project-editor::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
}

.draggable-menu {
    width: 85%;;
}
.main-editor{
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* overflow: auto; */
    /* overflow: hidden; */

}

.pro-menu .list-group-item.active {
  
    background-color: #3688B1;
    background-size: 150% 150%; /* 控制渐变的尺寸 */
    background-position: right bottom; /* 控制渐变的位置 */
}


 /* 自定义动画效果 */
 @keyframes progressAnimation {
    0% { width: 0%; }
    100% { width: 70%; } /* 这里设置进度条的最终宽度 */
}

/* 进度条样式 */
.progress-bar {
    background-color: #198038;
    
    animation: progressAnimation 2s linear forwards; /* 持续时间为 2 秒，线性动画 */
}
.pro-menu .list-group{

    --bs-list-group-active-bg: unset;
    --bs-list-group-active-border-color: unset;
   
}
.d-flex h5{
    font-size: 22px;
    color: #1a1a1a;
    font-weight: 600;
}
.d-flex small{
    color: #18a64c;
    font-weight: 700;

}
pre{
    padding-top: 10px;
    text-wrap: wrap;
}
.f-flex{
    display: flex;
    overflow-x: auto;
    flex-direction: column;
}

#folderStructure{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;

}

.editor-menu{
    display: flex;
}
.btn-custom-sm,.form-control,.result-area{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
   color: #1a1a1a;
    font-style: normal;
    --bs-btn-bg: unset;
   
}


#editor-container {
    width: 100%;
    padding: 0px;
    overflow: auto;
}
#left-panel {
    width: 100%;
    padding: 0px;
}

 .resultTable {
     border: 1px solid #dddddd; 
     padding: 8px;
     text-align: left;
 }
 #loading-bar {
 width: 100%;
 height: 10px;
 background-color: #ffffff;
 border: 1px solid #4caf50;
 border-radius: 5px;
 margin: 20px 0;
}
#progress-bar {
 width: 0%;
 height: 100%;
 background-color: #4caf50;
 border-radius: 5px;
}


 /* Custom CSS for draggable buttons */
 .draggable-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.draggable-button {
    display: flex;
    cursor: pointer;

    padding: 6px 2px 2px 4px;
    margin-right: 0; /* Remove margin between buttons */
    border: 1px solid #ccc;

    font-size: 14px;
font-family: 'Open Sans', sans-serif;

font-style: normal;
}

.close-button {

    display: flex;
align-items: center;
height: 16px;
width: 16px;
/* border: 1px solid red; */
border-radius: 3px;
cursor: pointer;
margin-left: 2px;
margin-top: 2px;
font-weight: bold;
padding-left: 4px;
padding-top: 2px;
font-size: 14px;
color: red;

}
.close-button:hover{
    background-color:#ECEFF7;
}
.draggable-menu{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    width: 98%;  
    position: relative; /* 设置相对定位，用于绝对定位元素的参照 */
    border-bottom: 1px solid #d6e6f0;

}
#dragcontainer{
    display: flex; /* 水平排列 */
    flex-wrap: nowrap;
    overflow-x: scroll;
    transition: transform 0.5s ease; /* 添加过渡效果 */
}

#dragcontainer::-webkit-scrollbar {
height: 4px; /* 滚动条宽度 */
}

#dragcontainer::-webkit-scrollbar-track {
background-color: #ffff /* 滚动条轨道背景色 */
}

#dragcontainer::-webkit-scrollbar-thumb {
background-color :#7cb5c8;/* 滚动条滑块颜色 */
/* border-radius: 2px; 滚动条滑块圆角 */

}

#dragcontainer::-webkit-scrollbar-thumb:hover {

background-color: #1C5297;/* 鼠标悬停时滚动条滑块颜色 */
}

.dropdown-menu-custom{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

}
.mc-problems{
    margin-left:unset;
    min-width: 400px;
    border-left: 1px solid #85cbed;
    border-right: 1px solid #85cbed;
}
.mc-problems .d-flex{
    margin: 10px;
}
.ds-editor{
    overflow-y: auto;
    overflow-x: auto;
    /* width: calc(100% - 210px); */
    width: 100%;

}
#all{
    /* width: 98%; */
    width: 100%;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
}
/* For WebKit based browsers (Chrome, Safari) */
#all::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
}
#ds-container{
width: 100%;
}
#common-container{
    width: 100%;
}
#common-container .card{
    flex-grow: 1; /* 设置为1以填充剩余空白 */
    width: 98%;
}

.task-header{
    font-size: 14px;
}

.task-body{
    font-size: 13px;
}

.testcase{
    font-size: 14px;
}