/* .table-striped>tbody>tr:nth-of-type(odd)>*{
   
    background-image: linear-gradient(to bottom, #CED7D6, #C3E8EE );
}


.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff; 
}

.table>:not(caption)>*>*{
  background-color: unset;

}
.col-lg-9{
    margin-bottom: 10px;
    border-left: 1px solid #DEE2E6;
    margin-left: 10px;
}
.bg-light {

    background-color: #FFF;

}

.sidebar-menu{
    width: 70px;
}

.logo-img{
    width: 44px;
    height: 44px;
    margin-top: 17px;
    border-radius: 10px;
}

@media (max-width: 576px) { 
    .row>* {
        flex-shrink: unset;
        width: unset;
  }
}

.card{
    --bs-card-border-width:unset;
}
.topic-a{
    display: block;

}
.topic-title{
    color: inherit;
    text-decoration: none;
}
.topic-title:hover{
    color: #007AFF;
}
.btn{
    --bs-btn-padding-x: unset;
}
.table{
    text-align: center;
} */

#hero .topic-course{
    color: #131218;
    font-size:xx-large;
    margin: 0;
    text-align: center;
}