.login-container{
    margin: 8rem 0 !important;
    overflow-x: hidden;
}
.login-card{
    width: 400px;
    box-shadow: 0px 0px 10px rgba(127, 137, 161, 0.25);
}
.login-header{
    overflow-x: hidden;
}

 /* 使 Canvas 元素填充整个页面 */
 body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative; /* 确保父元素相对定位 */
  }
  .login-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .text-center{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   color: #1a1a1a;
    font-style: normal;
    font-weight: 300;
  }
  .btn-primary{
    --bs-btn-bg:  #1D6C98;
      --bs-btn-border-color: unset;
      --bs-btn-hover-bg: #48a6d9;
      --bs-btn-disabled-bg: #2895cf;
  }
 
  .login-logo{
    text-align: center;
  }
  .login-img{
    height: 110px;
  }
  #header {
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    /* padding: 15px 0; */
    border-bottom: 1px solid #e6f2fb;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
#header .header-wrapper{
  padding: 0 20px;
}
  #header .logo img {
    max-height: 50px;
  }

/**may not use***/
  .account{
    background-color: #ffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: left;
    padding: 0%;
    padding-left: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    z-index: 1;
}

.self-fluid{
    margin-top: 65px;
}
.self-menu{
    color: black;
    --bs-nav-link-color: unset;
  
  
}

.self-min-vh{
    min-height: 70vh!important;

}


.icons{
    padding-left: 16px;
    
}
.bi,.icons{
    color: black;
}


.main-services{
    padding-top: 16px;
    height: 330px;
   
}

.account .logo{
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

  /* services list */

.featured-services .service-item {
  padding: 10px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  height: 100%;
}

.featured-services .service-item .icon {
  margin-bottom: 5px;
}

.featured-services .service-item .icon i {
  color: #0EA2BD;
  font-size: 30px;
  transition: 0.3s;
}

.featured-services .service-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.featured-services .service-item h4 a {
  color: var(--color-secondary);
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.featured-services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.featured-services .service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  /* box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1); */
}

.featured-services .service-item:hover h4 a {
  color: #0EA2BD;
}

.self-py-3{
  height: 800px;
  overflow: auto;

}
.service-list{
  height: 440px;
  overflow: auto;
}